.pagination-container {
    list-style: none;
    display: flex;
    align-items: center;
}
.pagination-container li {
    border: 1px solid gray;
    padding: 20px;
    cursor: pointer;
}
.pagination-container li:active {
    background-color:#800020;
}