@import "./scss/variables/colors";
@import "./scss/variables/fonts";
@import "./scss/component/ItemContainer.scss";
@import "./scss/component/ItemSmall.scss";
@import "./scss/component/NavBar.scss";

body {
  font-family: $font-openSans;
  background-color: $secondaryGrey;
}

.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
}
