@import './sass/Colors';
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap");
@import './component/ItemContainer.scss';
@import './component/ItemSmall.scss';

body, html {
  font-family: "Open Sans", sans-serif;
}

.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
}

h1 { color: $color-primary-red; }
h2 { color: $color-secondary-grey; }
h3 { color: $color-additional-black; }
