@import './sass/Colors';
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap");

body, html {
  font-family: "Open Sans", sans-serif;
}

.App {
  text-align: center;
}

h1 { color: $color-primary-red; }
h2 { color: $color-secondary-grey; }
h3 { color: $color-additional-black; }
